
body {
  background-image: linear-gradient(rgb(255, 202, 239), rgb(233, 233, 233));
  width: 280px;
  height: 434px;
}

.logoContainer {
  height: 95px;
}

.mainContainer {
  height: 434px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  height: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  height: 300px;
}

.container::-webkit-scrollbar {
  display: none;
}

/* .mainContainer::-webkit-scrollbar {
  display: none;
} */



.tuneoutlogo {
  padding: 15px;
  padding-bottom: 0px;
  align-self: center;
}



.idBtn {

}