.resBox {
  font-family: 'Courier New';
  padding: 15px;
  z-index: 11;
}

.emptyResBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
  color: #666666;
  font-family: 'Courier New';
  font-size: 16px;
}

.animation {
  margin-bottom: 15px;
  display: inline-block;

  z-index: 11;
}

.errorMessage {
    font-family: 'Courier New';
    font-size: 15px;
    color: #666666;
}

.errorBox {
  margin-bottom: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

}

.linkbox {
  display: flex;
  justify-content: space-evenly;
}